@charset "utf-8";
/*字体文件*/
@font-face {
    font-family: 'iconfont';  /* project id 563951 */
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shangsanjiao:before { content: "\e600"; }

.icon-icon:before { content: "\e601"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-form:before { content: "\e6a2"; }

.icon-search:before { content: "\e6ac"; }

.icon-add:before { content: "\e6b9"; }

.icon-subtract:before { content: "\e6fe"; }

.icon-map:before { content: "\e715"; }

.icon-xiasanjiao:before { content: "\e602"; }

.icon-phone:before { content: "\e725"; }

.icon-shouji:before { content: "\e866"; }

.icon-shoucang1:before { content: "\e63c"; }

.icon-xinxi:before { content: "\e60d"; }

.icon-chuang:before { content: "\e688"; }

.icon-zhuce:before { content: "\e63b"; }

.icon-linyu:before { content: "\e623"; }

.icon-youjian:before { content: "\e62b"; }

.icon-chufang:before { content: "\e662"; }

.icon-nicheng:before { content: "\e61f"; }

.icon-love:before { content: "\e61e"; }

.icon-icon--xia:before { content: "\e604"; }

.icon-zhuanfa:before { content: "\e60c"; }

.icon-suo-:before { content: "\e615"; }

.icon-shafa:before { content: "\e61c"; }

.icon-zuo:before { content: "\e693"; }

.icon-shang:before { content: "\e606"; }

html,
body {
    width: 100%;
    background: #fff;
    /*font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;*/
    /* 第一个是第三方字体 */
    font-family: Helvetica, sans-self;
    font-style: normal;
    -webkit-user-select: none;
    /* 禁止页面文字选择 */
}

/*轮播图收藏分享*/
.wrapper {
    position: relative;
    z-index: 11;
    border: none;
}

.top-inform {
    width: 100%;
    position: absolute;
    z-index: 12;
    top: 0;
    padding: 0.13rem 0;
    background: url("../img/detailback.png") repeat center;
}

.zuojiantou {
    color: #000;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.2rem;
}

.dingwei {
    color: #000;
    font-size: 0.4rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.07rem;
}

.shoucang {
    color: #000;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.25rem;
    margin-top: 0.05rem;
}

.shoucang1 {
    color: red;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.25rem;
    margin-top: 0.05rem;
}

.fenxiang {
    color: #000;
    font-size: 0.42rem;
    float: right;
    margin-right: 0.2rem;
    margin-top: 0.08rem;
    font-weight: bold;
}

.bottom-inform {
    width: auto;
    position: absolute;
    z-index: 12;
    bottom: 0;
    right: 0;
    height: auto;
    padding: 0.15rem 0.3rem;
    font-size: 0.45rem;
    color: red;
    background: url("../img/background.png") repeat center;
    -webkit-border-top-left-radius: 0.2rem;
    -moz-border-top-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

/*轮播图收藏分享end*/
.find-jianjie {

    width: 100%;
    height: auto;
    padding-bottom: 0.5rem;
    background: url(../img/finddeback.png) repeat center;
}

.find-jianjie ul {
    width: 100%;
    padding-top: 1rem;
}

.find-jianjie ul li {
    float: left;

    height: auto;
}

.find-jianjie ul li:first-of-type {
    width: 50%;
    margin-left: 10%;
}

.find-jianjie ul li:last-of-type {
    width: 40%;
    text-align: center;
}

.find-jianjie ul li:last-of-type img {
    margin: 0.2rem auto 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 3px 4px 3px #7b7b7a;
}

.find-jianjie ul li span {
    display: block;
    float: left;
    width: auto;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.32rem;
    color: #000;
}

.find-jianjie ul li i {
    font-style: normal;
    float: left;
    width: 60%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.26rem;
    color: #000;
    text-indent: 0.1rem;
}

.find-jianjie ul li p {
    width: 100%;
    /*height: 1.2rem;*/
    margin: 0.2rem auto;
    line-height: 0.3rem;
    font-size: 0.26rem;
    color: #000;
    /*overflow: hidden;*/
}

.findyoujian {
    color: #000;
    font-size: 0.42rem;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.08rem;
    width: auto;

}

.find-jianjie-em {
    width: 60%;
    margin-left: 10%;
}

.find-jianjie-em span {
    display: block;
    float: left;
    width: auto;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.26rem;
    color: #000;
}

.find-l2 span {
    font-size: 0.32rem !important;
}

.find-l1, .find-l2 {
    width: 100%;
}

.find-fenye {
    width: 100%;
    height: 1rem;
    background: #f0bd40;
}

.find-fenye ul li {
    width: 50%;
    box-sizing: border-box;
    float: left;
    height: 0.6rem;
    margin: 0.2rem 0;
    text-align: center;
    font-size: 0.32rem;
    color: #000;
    line-height: 0.6rem;
    border-right: 1px #000 solid;
}

.find-fenye ul li:last-of-type {
    border-right: none;
}

.find-bott {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    height: 0.2rem;
    border-bottom: 1px #cecece solid;
}

.find-jilu {
    width: 100%;
    height: auto;
    display: none;
}

.find-zhanshi {
    width: 100%;
    height: auto;
}

.color-white {
    color: #fff !important;
}

.detail-mainf {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 11;
    padding-bottom: 0.2rem;
}

.bottom-inform-watermark-i {
    width: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: 2rem;
    background: url(../img/40background.png) repeat center;
}

.bottom-inform-watermark-i img {
    width: 3rem;
    height: 2rem;
    border: none;
    float: right;
}

.top-inform1 {
    width: 100%;
    position: absolute;
    z-index: 12;
    top: 0;
    padding: 0.13rem 0;

}

.detail-main {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 11;
    padding-bottom: 1.5rem;
}

.detail-main-list {
    width: 90%;
    height: auto;
    margin: 0.35rem 5% auto 5%;
}

.list-align {
    text-align: right;
}

.list-right-mar {
    width: 36% !important;
    margin-right: 4% !important;
}

.list-marn-left {
    margin-left: 2% !important;
}

.list-left-mar {
    margin-left: 2% !important;
    width: 58% !important;
}

.list-left-linhe {
    line-height: 0.6rem !important;
}

.detail-main-list-middle {
    width: 100%;
    height: auto;
    border-bottom: 1px #cecece solid;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}

.detail-main-list-middle span {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    display: block;
    text-align: left;
    color: #000;
    font-size: 0.26rem;
}

.detail-main-list-middle p {
    width: 100%;
    line-height: 0.35rem;
    text-align: left;
    color: #000;
    font-size: 0.26rem;
}

.detail-main-broker {
    width: 100%;
    height: auto;
    padding-bottom: 0.2rem;
}

.detail-main-broker ul li {
    width: 60%;
    height: auto;
    float: left;
}

.detail-main-broker ul li span {
    width: 100%;
    line-height: 0.6rem;
    display: block;
    text-align: left;
    color: #0150ad;
    font-size: 0.26rem;
}

.detail-main-broker ul li p {
    width: 100%;
    height: 0.35rem;
    overflow: hidden;
    line-height: 0.35rem;
    text-align: left;
    color: #000;
    font-size: 0.26rem;
}

.detail-borker-top {
    margin-top: 10%;
}

.detail-main-broker ul li:first-of-type {
    width: 40%;
}

.detail-main-broker ul li:first-of-type img {
    width: 1.7rem;
    height: 1.7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px #f0bd42 solid;
    margin-left: 10%;
    margin-top: 8%;
}

.detail-phone {
    width: 100%;
    height: 1.2rem;
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.detail-phone ul li {
    width: 50%;
    box-sizing: border-box;
    float: left;
    height: 0.8rem;
    margin: 0.2rem 0;
    border-right: 1px #fff solid;
}

.detail-phone ul li:last-child {
    border-right: none;
}

.send {
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin-left: 40%;
}

.phone {
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
    margin-left: 40%;
}

.detail-green {
    background: #63ae48;
}

.detail-red {
    background: #d32c2e;
}

.detail-blue {
    background: #4f96eb;
}

.detail-purple {
    background: #7882d2;
}

.shafa {
    color: #000;
    font-size: 0.45rem;
    float: left;
    margin-left: 0.35rem;
}

.chuang {
    color: #000;
    font-size: 0.43rem;
    float: left;
    margin-left: 0.2rem;
}

.huasa {
    color: #000;
    font-size: 0.37rem;
    float: left;
    margin-left: 0.25rem;
}

.guo {
    color: #000;
    font-size: 0.4rem;
    float: left;
    margin-left: 0.25rem;
}

.tab-main-pic-main {
    width: 100%;
    height: auto;
    border-bottom: 1px #cecece solid;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    position: relative;
    z-index: 11;
}

.tab-main-pic {
    width: 100%;
    height: auto;
}

.tab-main-pic ul li {
    float: left;
    width: 70%;
    height: auto;
}

.tab-main-pic ul li:first-of-type {
    width: 30%;
}

.tab-main-pic ul li:first-of-type img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.tab-main-pic ul li dl dt {
    width: 100%;
    height: 1.5rem;
}

.tab-main-pic ul li dl dt:last-of-type {
    height: 0.5rem;
}

.list-left {
    width: 52%;
    margin-left: 8%;
    float: left;
}

.list-left p {
    width: 90%;
    height: auto;
    font-size: 0.26rem;
    color: #000;
    line-height: 0.32rem;
}

.list-left span {
    width: auto;
    height: auto;
    font-size: 0.26rem;
    color: #fff;
    line-height: 0.5rem;
    padding: 0.06rem 0.15rem;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    text-align: center;
}

.listleft-span-green {
    background: #63ae48;
}

.listleft-span-red {
    background: #d32c2e;
}

.listleft-span-blue {
    background: #4f96eb;
}

.listleft-span-purple {
    background: #7882d2;
}

.list-right {
    width: 40%;
    float: left;
}

.list-right p {
    width: 100%;
    height: auto;
    font-size: 0.28rem;
    color: #000;
    line-height: 0.4rem;
}

.tab-main-pic dl dt:last-of-type span {
    float: left;
    font-size: 0.32rem;
    line-height: 0.5rem;
    color: #000;
    display: block;
    margin-left: 0.15rem;
}

/*detail end*/

/*search start*/
.search-nav {
    width: 100%;
    height: 1rem;
    position: relative;
    z-index: 9;
    top: 0;
}

.caidan {
    color: #fff;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-weight: bold;
}

.map-dt {
    color: #fff;
    font-size: 0.55rem;
    float: right;
    margin-right: 0.5rem;
    margin-top: 0.22rem;
    font-weight: bold;
}

.search-content {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.caidan-line {
    position: fixed;
    left: -60%;
    width: 60%;
    background: #fff;
    height: auto;
    top: -1rem;
    z-index: 12;
    overflow-y: auto;
}

.showleftnav {
    transform: translateX(100%);
    -ms-transform: translateX(100%); /* IE 9 */
    -moz-transform: translateX(100%); /* Firefox */
    -webkit-transform: translateX(100%); /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    transition: transform 1s;
    -ms-transition: -ms-transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
}

.showleftnav-r {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%); /* IE 9 */
    -moz-transform: translateX(-100%); /* Firefox */
    -webkit-transform: translateX(-100%); /* Safari 和 Chrome */
    -o-transform: translateX(-100%);
    transition: transform 1.3s;
    -ms-transition: -ms-transform 1.3s;
    -moz-tr……ansition: -moz-transform 1.3s;
    -webkit-transition: -webkit-transform 1.3s;
    -o-transition: -o-transform 1.3s;
}

.caidan-line-1 {
    width: 100%;
    /*border-bottom: 1px #cecece solid;*/
    height: auto;
}

.caidan-line-1 dl {
    padding-top: 1rem;
}

.caidan-line-1 dl dt:first-of-type {
    height: 1.2rem;
}

.caidan-line-1 dl dt {
    width: 100%;
    height: 0.75rem;
    color: #000;
    text-align: center;
}

.caidan-line-1 dl dt img {
    width: 0.56rem;
    height: 0.8rem;
    border: none;
    margin: 0.1rem auto;
}

.caidan-line-1 dl dt p {
    width: 85%;
    margin: 0 7.5%;
    font-size: 0.3rem;
    text-align: center;
    line-height: 0.75rem;
    border-bottom: 1px #a4a4a4 solid;
}

.bordertop {
    /*border-top: 1px #a4a4a4 solid;*/
    border: none;
}

.border-none {
    border-bottom: none !important;
}

.cha {
    color: #000;
    font-size: 0.45rem;
    position: absolute;
    right: 0.1rem;
    top: 1.1rem;
    font-weight: bold;
}

.caidan-line-2 {
    width: 100%;
    /*border-bottom: 1px #cecece solid;*/
    height: auto;
    background: url("../img/cebianback.png") repeat center;
}

.caidan-line-2 dl dt {
    width: 85%;
    margin-left: 7.5%;
    height: 0.7rem;
    border-bottom: 1px #a4a4a4 solid;
    cursor: pointer;
}

.caidan-line-2 dl dt p {
    width: 35%;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #000;
    float: left;
    margin-left: 15%;
    margin-top: 1px;
}

.caidan-line-2 dl dt span {
    width: 45%;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #3d3d3d;
    float: right;
    display: block;
    text-align: right;
    padding-right: 0.15rem;
    overflow: hidden;
    height: 0.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.caidan-line-3 {
    width: 85%;
    margin: 0 7.5%;
    height: auto;
    line-height: 0.8rem;
    border-bottom: 1px #a4a4a4 solid;
    text-align: center;
    color: #000;
    font-size: 0.3rem;
}

.area {
    position: fixed;
    bottom: -5rem;
    width: 100%;
    background: #fff;
    height: 5rem;
    z-index: 15;
}

.masking {
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: url("../img/huibackground.png") repeat center;
    position: fixed;
    left: 0;
    z-index: 14;
}

.masking1 {
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: url("../img/huibackground.png") repeat center;
    position: fixed;
    left: 0;
    z-index: 11;
}

.masking2 {
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: url("../img/huibackground.png") repeat center;
    position: fixed;
    left: 0;
    z-index: 11;
}

.dater {
    width: 100%;
    margin: 0 auto;
    height: 1rem;
    color: #fff;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
    /*border-top: 1px #cecece solid;*/
}

.dater-green {
    background: #63ae48;
}

.dater-red {
    background: #d32c2e;
}

.dater-blue {
    background: #4f96eb;
}

.dater-purple {
    background: #7882d2;
}

.dater-yellow {
    background: #f0bd42;
}

.area-title {
    width: 80%;
    margin: 0.2rem 10% 0 10%;
    height: 0.7rem;

    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;
}

.area-title-green {
    color: #63ae48;
}

.area-title-red {
    color: #d32c2e;
}

.area-title-blue {
    color: #4f96eb;
}

.area-title-purple {
    color: #7882d2;
}

.area-title-yellow {
    color: #f0bd42;
}

.area p {
    width: 80%;
    height: 1rem;
    line-height: 1rem;

    font-size: 0.32rem;
    text-align: center;
    margin: 0rem auto;
}

.chose {
    width: auto;
    height: auto;
    margin: 0.6rem auto 0.2rem 11%;
}

.chose-input {
    border: 1px #cecece solid;
    height: 0.6rem;
    width: 33%;
    float: left;
}

.chose-input-ful {
    width: 20%;
    float: left;
    color: #000;
    /*font-size: 0.35rem;*/
    text-align: center;
    /*line-height: 0.6rem;*/
}

.chose-input span {
    width: 35%;
    color: #333;
    font-size: 0.26rem;
    float: left;
    display: block;
    line-height: 0.6rem;
    text-align: center;
    /*margin-top: 0.2rem;*/
    margin-left: 0.1rem;
}

.chose-input-num, .chose-input-num-last {
    width: 60%;
    border: none;
    float: left;
    margin: 0.1rem auto;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #000;
    font-size: 0.28rem;
    /*text-indent: 0.2rem;*/
    text-align: center;
}

/*area end*/
.louceng-area {
    position: fixed;
    bottom: -52%;
    width: 100%;
    background: #fff;
    height: 52%;
    z-index: 15;
}

.louceng-dater {
    width: 80%;
    margin: 0 10%;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}

.louceng-area-title {
    width: 80%;
    margin: 0 10%;
    height: 0.7rem;
    color: #4f7cef;
    font-size: 0.32rem;
    line-height: 0.7rem;
    text-align: center;
    background: #e7eeff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}

.louceng-area p {
    width: 80%;
    height: 0.9rem;
    line-height: 0.9rem;
    color: #4f7cef;
    font-size: 0.35rem;
    text-align: center;
    margin: 0.3rem auto 0.2rem auto;
}

.louceng-chose {
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.2rem 18%;
}

.louceng-jian {
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.2rem 18%;
}

.louceng-jian ul li {
    float: left;
    width: 50%;
}

.jian-lou {
    color: #999;
    font-size: 0.5rem;
    margin-left: 20%;
}

.louceng-jia {
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.5rem 18%;
}

.louceng-jia ul li {
    float: left;
    width: 50%;
}

.louceng-chose-input {
    border: 1px #cecece solid;
    height: 0.9rem;
    width: 30%;
    float: left;
}

.louceng-chose-input-ful {
    width: 20%;
    float: left;
    color: #000;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.9rem;
}

.louceng-chose-input span {
    width: 25%;
    color: #333;
    font-size: 0.3rem;
    float: left;
    display: block;
    line-height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}

.louceng-chose-input-num, .louceng-chose-input-num-last {
    width: 65%;
    border: none;
    float: left;
    margin: 0.2rem auto;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #000;
    font-size: 0.32rem;
    text-indent: 0.2rem;
}

.ceng {
    position: fixed;
    /*bottom: -42%;*/
    bottom: -5rem;
    width: 100%;
    background: #fff;
    height: 5rem;
    z-index: 15;
}

.ceng-dater {
    width: 100%;
    margin: 0 auto;
    height: 1rem;
    color: #fff;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
}

.ceng-title {
    width: 80%;
    margin: 0.2rem 10% 0 10%;
    height: 0.7rem;

    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;
}

.ceng p {
    width: 80%;
    height: 1rem;
    line-height: 1rem;

    font-size: 0.32rem;
    text-align: center;
    margin: 0rem auto;
}

.ceng-chose {
    width: auto;
    height: auto;
    margin: 0.6rem auto 0.2rem 11%;
}

.ceng-chose-input {
    border: 1px #cecece solid;
    height: 0.6rem;
    width: 33%;
    float: left;
}

.ceng-chose-input-ful {
    width: 20%;
    float: left;
    color: #000;
    /*font-size: 0.35rem;*/
    text-align: center;
    /*line-height: 0.6rem;*/
}

.ceng-chose-input span {
    width: 35%;
    color: #333;
    font-size: 0.26rem;
    float: left;
    display: block;
    line-height: 0.6rem;
    text-align: center;
    /*margin-top: 0.2rem;*/
    margin-left: 0.1rem;
}

.ceng-subtract {
    float: left;
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: #333;
    margin-left: 9%;
}

.ceng-adds {
    float: left;
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: #333;
}

.ceng-chose-input-num, .ceng-chose-input-num-last {
    width: 45%;
    border: none;
    float: left;
    margin: 0.1rem auto;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #000;
    font-size: 0.28rem;
    /*text-indent: 0.2rem;*/
    text-align: center;
}

/*louceng end*/
.price {
    position: fixed;
    bottom: -5rem;
    width: 100%;
    background: #fff;
    height: 5rem;
    z-index: 15;
}

.price-dater {
    width: 100%;
    margin: 0 auto;
    height: 1rem;
    color: #fff;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    /*letter-spacing:4px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
}

.price-title {
    width: 80%;
    margin: 0.2rem 10% 0 10%;
    height: 0.7rem;
    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;
}

.price p {
    width: 80%;
    height: 1rem;
    line-height: 1rem;

    font-size: 0.32rem;
    text-align: center;
    margin: 0rem auto;
}

.price-chose {
    width: auto;
    height: auto;
    margin: 0.6rem auto 0.2rem 11%;
}

.price-chose-input {
    border: 1px #cecece solid;
    height: 0.6rem;
    width: 33%;
    float: left;
}

.price-chose-input-ful {
    width: 20%;
    float: left;
    color: #000;
    /*font-size: 0.35rem;*/
    text-align: center;
    /*line-height: 0.6rem;*/
}

.price-chose-input span {
    width: 35%;
    color: #333;
    font-size: 0.26rem;
    float: left;
    display: block;
    line-height: 0.6rem;
    text-align: center;
    /*margin-top: 0.2rem;*/
    margin-left: 0.1rem;
}

.subtract {
    float: left;
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: #333;
    margin-left: 9%;
}

.adds {
    float: left;
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: #333;
}

.price-chose-input-num, .price-chose-input-num-last {
    width: 45%;
    border: none;
    float: left;
    margin: 0.1rem auto;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #000;
    font-size: 0.28rem;
    /*text-indent: 0.2rem;*/
    text-align: center;
}

/*price end*/
/*toward start*/

.toward-dater {
    width: 100%;
    margin: 0 auto !important;
    height: 1rem;
    color: #fff;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    /*border-top: 1px #cecece solid;*/
}

.toward-dater-green {
    background: #63ae48;
}

.toward-dater-red {
    background: #d32c2e;
}

.toward-dater-blue {
    background: #4f96eb;
}

.toward-dater-purple {
    background: #7882d2;
}

.toward-dater-yellow {
    background: #f0bd40;
    color: #000 !important;
}

/*toward end*/
/*room start*/

.room {
    position: fixed;
    bottom: -5rem;
    width: 100%;
    background: #fff;
    height: 5rem;
    z-index: 15;
}

.room-dater {
    width: 100%;
    margin: 0 auto;
    height: 1rem;
    color: #fff;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12;
}

.room-title {
    width: 80%;
    margin: 0.2rem 10% 0 10%;
    height: 0.7rem;
    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;

}

.room-chose {
    width: 90%;
    height: auto;
    margin: 0 auto 0.1rem auto;
    overflow: hidden;
    position: relative;
    z-index: 20;
}

.room-chose dl dt {
    width: 100%;
    height: 0.8rem;
    margin: 0.4rem auto 0 auto;
    /*超出部分将会隐藏，即滚动条部分被挤出可视区域*/
    overflow-y: hidden;
}

.ro-tingd {
    width: 12%;
    float: left;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    font-size: 0.32rem;
    text-align: center;

}

.ro-tingd-qb, .ro-tingd-qbs {
    width: 12%;
    float: left;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    font-size: 0.32rem;
    text-align: center;

}

.swiper-container {
    width: 70%;
    margin-left: 5%;
    height: 0.6rem;
    overflow-y: hidden;
    float: left;
}

.swiper-wrapper {
    width: auto;
    height: 0.6rem;
}

.swiper-slide {
    filter: alpha(opacity=30); /* IE */
    -moz-opacity: 0.3; /* 老版Mozilla */
    -khtml-opacity: 0.3; /* 老版Safari */
    opacity: 0.3; /* 支持opacity的浏览器*/
    float: left;
    width: 14%;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #000;
    font-size: 0.3rem;
    text-align: center;
}

.shafadhen {
    color: #000;
    font-size: 0.6rem;
}

.shafad {
    color: #5b5b5b;
    font-size: 0.5rem;
}

.chuangd {
    color: #5b5b5b;
    font-size: 0.5rem;
}

.room-chose-green {
    color: #63ae48 !important;
    border-left: 1px #cecece solid;
    border-right: 1px #cecece solid;
}

.room-chose-red {
    color: #d32c2e !important;
    border-left: 1px #cecece solid;
    border-right: 1px #cecece solid;
}

.room-chose-blue {
    color: #4f96eb !important;
    border-left: 1px #cecece solid;
    border-right: 1px #cecece solid;
}

.room-chose-purple {
    color: #7882d2 !important;
    border-left: 1px #cecece solid;
    border-right: 1px #cecece solid;
}

.room-chose-yellow {
    color: #f0bd42 !important;
    border-left: 1px #cecece solid;
    border-right: 1px #cecece solid;
}

.room-chose-green-fon {
    color: #63ae48 !important;
}

.room-chose-red-fon {
    color: #d32c2e !important;
}

.room-chose-blue-fon {
    color: #4f96eb !important;
}

.room-chose-purple-fon {
    color: #7882d2 !important;
}

.room-chose-yellow-fon {
    color: #f0bd42 !important;
}
.room-chose-black-fon {
    color: #000 !important;
}
.swiper-slide-active {
    filter: alpha(opacity=100) !important; /* IE */
    -moz-opacity: 1 !important; /* 老版Mozilla */
    -khtml-opacity: 1 !important; /* 老版Safari */
    opacity: 1 !important; /* 支持opacity的浏览器*/
    /*border-left: 1px #cecece solid;*/
    /*border-right: 1px #cecece solid;*/
}

.selectine {
    height: 0.6rem;
    line-height: 0.6rem;
    width: 10%;
    left: 58.8%;
    position: absolute;
    top: 0.4rem;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.selectine1 {
    height: 0.6rem;
    line-height: 0.6rem;
    width: 10%;
    left: 58.8%;
    position: absolute;
    top: 1.6rem;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

/*room end*/
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.showleftnav-ymf {
    transform: translateY(100%);
    -ms-transform: translateY(100%); /* IE 9 */
    -moz-transform: translateY(100%); /* Firefox */
    -webkit-transform: translateY(100%); /* Safari 和 Chrome */
    -o-transform: translateY(100%);
    transition: transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -o-transition: -o-transform 0.4s;
}

.showleftnav-yf {
    transform: translateY(100%);
    -ms-transform: translateY(100%); /* IE 9 */
    -moz-transform: translateY(100%); /* Firefox */
    -webkit-transform: translateY(100%); /* Safari 和 Chrome */
    -o-transform: translateY(100%);
    transition: transform 0s;
    -ms-transition: -ms-transform 0s;
    -moz-transition: -moz-transform 0s;
    -webkit-transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
}

.showleftnav-yrf {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%); /* IE 9 */
    -moz-transform: translateY(-100%); /* Firefox */
    -webkit-transform: translateY(-100%); /* Safari 和 Chrome */
    -o-transform: translateY(-100%);
    transition: transform 0s;
    -ms-transition: -ms-transform 0s;
    -moz-transition: -moz-transform 0s;
    -webkit-transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
}

.showleftnav-y {
    transform: translateY(100%);
    -ms-transform: translateY(100%); /* IE 9 */
    -moz-transform: translateY(100%); /* Firefox */
    -webkit-transform: translateY(100%); /* Safari 和 Chrome */
    -o-transform: translateY(100%);
    transition: transform 0.8s;
    -ms-transition: -ms-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -o-transition: -o-transform 0.8s;
}

.showleftnav-yr {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%); /* IE 9 */
    -moz-transform: translateY(-100%); /* Firefox */
    -webkit-transform: translateY(-100%); /* Safari 和 Chrome */
    -o-transform: translateY(-100%);
    transition: transform 0.8s;
    -ms-transition: -ms-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -o-transition: -o-transform 0.8s;
}

/*search end*/
/*index start*/
.index-location-search {

    width: auto;
    height: 1rem;
    float: left;
    margin-left: 1rem;
}

.index-location-search img {
    width: 0.45rem;
    height: 0.6rem;
    margin-top: 0.2rem;
    float: left;
    margin-left: 1rem;
}

.location3 {
    color: #fff;
    font-size: 0.5rem;
    float: left;
    margin-left: 0rem;
    margin-top: 0.2rem;
    font-weight: bold;
}

.fangdajing {
    color: #fff;
    font-size: 0.5rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-weight: bold;
}

.formm {
    color: #fff;
    font-size: 0.45rem;
    float: right;
    margin-right: 0.4rem;
    margin-top: 0.27rem;
    font-weight: bold;
}

.index-search {
    margin-top: 0.2rem;
    background: #fff;
    width: 90%;
    height: 0.8rem;

    margin-left: 5%;
    margin-bottom: 0.2rem;
    border: 1px #cecece solid;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}

.index-searchtext {
    width: 82%;
    height: 0.6rem;
    margin: 0.1rem auto 0.1rem 0.3rem;
    line-height: 0.6rem;
    float: left;
    border: none;
    color: #cecece;
    text-indent: 0.2rem;
    font: normal 0.35rem Arial;
}

.fangdajingt {
    color: #cecece;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

.search-chose {
    width: 90%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px #cecece solid;
    box-sizing: border-box;
}

.search-chose ul {
    width: 100%;
    height: 0.6rem;
    margin: 0.2rem auto;
}
.list-chose ul li{
    width: 33.3%!important;
}
.list-inde-y{
    width: 90%;
    margin: 0.2rem 5% 0 5%;
    border-bottom: 1px #cecece solid;
}
.search-chose ul li {
    width: 50%;
    float: left;
    height: 0.6rem;
}

.search-chose ul li p {
    float: left;
    font-size: 0.32rem;
    line-height: 0.6rem;
    color: #000;
    margin-left: 16%;
    height: 0.6rem;
    overflow: hidden;
    text-align: right;
    min-width: 40%;
    max-width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.quyu{*/
    /*margin-left: 0!important;*/
    /*min-width: 100%!important;*/
    /*max-width: 100%!important;*/
    /*text-align: center!important;*/
    /*text-indent: 2%;*/
/*}*/
.search-chose-p {
    float: left;
    width: 0.3rem;
    height: 0.6rem;
    margin-left: 0.05rem;
}

.search-chose1 {
    width: 90%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px #cecece solid;
    box-sizing: border-box;
}

.search-chose1 ul {
    width: 100%;
    height: 0.6rem;
    margin: 0.2rem auto;
}

.search-chose1 ul li {
    width: 33%;
    float: left;
    height: 0.6rem;
}

.search-chose1 ul li p {
    float: left;
    font-size: 0.32rem;
    line-height: 0.6rem;
    color: #000;
    margin-left: 16%;
    height: 0.6rem;
    overflow: hidden;
    text-align: right;
    min-width: 40%;
    max-width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-chose-list {
    display: none;
    width: 100%;
    height: auto;
}

.shang {
    color: #666666;
    font-size: 0.4rem;
    margin-top: 0.06rem;
    float: left;
    display: none;
}

.xia2 {
    font-size: 0.4rem;
    margin-top: 0.1rem;
    float: left;
    color: #000;
}
.shang2 {
    font-size: 0.4rem;
    margin-top: 0.1rem;
    float: left;
    display: none;
    color: #000;
}

.xia {
    color: #666666;
    font-size: 0.4rem;
    margin-top: 0.06rem;
    float: left;
}
.search-content-list {
    width: 90%;
    margin: 0.2rem 5% auto 5%;
}

.find-search {
    width: 45%;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0.4rem auto;
    border: 1px #828282 solid;
    box-sizing: border-box;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.find-input {
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 70%;
    font-size: 0.28rem;
    color: #b8b8b8;
    margin-top: 0.15rem;
    float: left;
    margin-left: 5%;
}

.fangdaji {
    color: #9c9c9c;
    font-size: 0.45rem;
    float: left;
    margin-left: 0.1rem;
    /*font-weight: bold;*/
}

.find-content {
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 0.2rem;
}

.find-content-list {
    width: 100%;
    height: auto;
}

.find-content-list-color {
    background: url("../img/findback.png") repeat center;
}

.find-content-main {
    width: 90%;
    margin: 0 5%;
    box-sizing: border-box;
    border-bottom: 1px #cecece solid;
}

.find-content-main ul li {
    float: left;
    width: 70%;
    height: 2.5rem;
    padding-top: 0.2rem;
}

.find-content-main ul li:last-of-type {
    width: 30%;
    text-align: center;
}

.find-content-main ul li span {
    display: block;
    float: left;
    width: auto;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    color: #000;
    text-indent: 0.1rem;
}

.find-content-main ul li i {
    font-style: normal;
    float: left;
    width: 60%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #000;
    text-indent: 0.1rem;
}

.find-content-main ul li p {
    padding-left: 0.1rem;
    width: 100%;
    height: 0.9rem;
    line-height: 0.3rem;
    font-size: 0.24rem;
    color: #000;
    overflow: hidden;
}

.content-im {
    width: 1rem;
    padding: 0.12rem 0.1rem;
    font-size: 0.3rem;
    color: #000;
    text-align: center;
    background: #f0bd40;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    margin: 0.2rem 0 0 0;
}

.find-content-main ul li img {
    width: 1.7rem;
    height: 1.7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px #f0bd42 solid;
    margin: 18% auto 0 auto;
}

/*collectionstart*/
.search-love {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    z-index: 12;
}

.loves {
    color: red;
    font-size: 0.65rem;
}

/*collectionend*/
.map-fixed {
    width: 85%;
    height: 1rem;
    background: #fff;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    line-height: 1rem;
    position: absolute;
    bottom: 0.2rem;
    left: 7.5%;
    z-index: 9;
    border: 1px #d8e6fb solid;
    box-sizing: border-box;
}

.map-fixed ul li {
    height: 1rem;
    float: left;
    cursor: pointer;
}

.map-fixed ul li:nth-of-type(1) {
    width: 23%;
}

.map-fixed ul li:nth-of-type(2) {
    width: 25%;
}

.map-fixed ul li:nth-of-type(3) {
    width: 19%;
}

.map-fixed ul li:nth-of-type(4) {
    width: 33%;
}

.map-fixed ul li span {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    margin-top: 0.35rem;
    margin-left: 19%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
}

.span-red {
    background: #e99596;
}

.span-green {
    background: #b1d6a3;
}

.span-blue {
    background: #a7caf5;
}

.span-purple {
    background: #bbc0e8;
}

.span-red-l {
    background: #d32c2e;
}

.span-green-l {
    background: #63ae48;
}

.span-blue-l {
    background: #4f96eb;
}

.span-purple-l {
    background: #7882d2;
}

.map-fixed ul li p {
    float: left;
    overflow: hidden;
    color: #000;
    font-size: 0.26rem;
    line-height: 1rem;
    width: 50%;
    height: 1rem;
    text-align: center;
}

.map-search {
    width: 100%;
    height: 1rem;
    border-top: 1px #cecece solid;
    box-sizing: border-box;
    border-bottom: 1px #cecece solid;
}

.map-search p {
    float: left;
    font-size: 0.35rem;
    color: #000;
    width: 40%;
    height: 1rem;
    text-indent: 0.15rem;
    line-height: 1rem;
    overflow: hidden;
}

.map-search span {
    float: left;
    display: block;
    font-size: 0.3rem;
    color: #cecece;
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    text-indent: 0.15rem;
}

.map-search-close {
    float: left;
    font-size: 0.45rem;
    color: #000;
    width: 10%;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: -2px;
}
.detail-close {
    position: absolute;
    left: 0.2rem;
    font-size: 0.5rem;
    color: #fff;
    width: 10%;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
/*index-mapend*/
.index-map {
    width: 100%;
    height: 100%;
}

.map-content {
    position: fixed;
    bottom: -96%;
    width: 100%;
    background: #fff;
    height: 94%;
    z-index: 15;
}

.map-cont {
    height: 82%;
    overflow-y: auto;
}

/*broker start*/

/*颜色控制*/
.color-font-green {
    color: #63ae48 !important;
}

.color-font-purple {
    color: #7882d2 !important;
}

.color-font-blue {
    color: #4f96eb !important;
}

.color-font-red {
    color: #d32c2e !important;
}

.color-tap-green {
    border-color: #63ae48 !important;
    color: #fff !important;
    background: #63ae48 !important;
}

.color-tap-purple {
    border-color: #7882d2 !important;
    color: #fff !important;
    background: #7882d2 !important;
}

.color-tap-yellow {
    border-color: #f1c131 !important;
    color: #000 !important;
    background: #f1c131 !important;
}

.color-tap-blue {
    border-color: #4f96eb !important;
    color: #fff !important;
    background: #4f96eb !important;
}

.color-tap-red {
    border-color: #d32c2e !important;
    color: #fff !important;
    background: #d32c2e !important;
}

.color-control-green {
    color: #63ae48 !important;
    border: 1px #63ae48 solid !important;
}

.color-control-purple {
    color: #7882d2 !important;
    border: 1px #7882d2 solid !important;
}

.color-control-blue {
    color: #4f96eb !important;
    border: 1px #4f96eb solid !important;
}

.color-control-red {
    color: #d32c2e !important;
    border: 1px #d32c2e solid !important;
}

.search-nav-green {
    background: #63ae48 !important;
}

.search-nav-purple {
    background: #7882d2 !important;
}

.search-nav-blue {
    background: #4f96eb !important;
}

.search-nav-red {
    background: #d32c2e !important;
}

.search-nav-yellow {
    background: #f1c131 !important;
}

.index-block {
    color: #000 !important;
}

.search-left {
    margin-left: 32% !important;
}

/*end*/
/*index end*/
.register-nav {
    width: 100%;
    height: 1rem;
}

.regist-zuo {
    color: #fff;
    font-size: 0.65rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.15rem;
}

.regist-zhuce {
    color: #fff;
    font-size: 0.58rem;
    float: left;
    margin-left: 35%;
    margin-top: 0.2rem;
}

.register-content {
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.register-line {
    width: 100%;
    height: auto;
    background: #fff;
}

.register-con {
    width: 90%;
    margin: 0 5%;
}

.register-con p {
    border-bottom: 2px solid #b8b8b8;

    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
}

.register-input {
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.32rem;
    color: #b8b8b8;
    margin-top: 0.25rem;
    float: left;
    margin-left: 0.3rem;
}

.register-input-yanzheng {
    width: 50% !important;
}

.register-icon {
    font-size: 0.45rem;
    color: #666867;
    float: left;
    line-height: 1rem;
    margin-left: 0.2rem;
}

.register-btn-info {
    width: 80%;
    background: #f1c131;
    line-height: 0.9rem;
    height: 0.9rem;
    font-size: 0.36rem;
    text-align: center;
    color: #000;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin: 1.5rem 10% 0 10%;
    border: none;
}

.get-code {
    display: block;
    width: 30%;
    float: left;
    background: #f1c131;
    line-height: 0.8rem;
    height: 0.8rem;
    font-size: 0.3rem;
    text-align: center;
    color: #000;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin-top: 0.1rem;
}

/*registerend*/
.login-content {
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.login-line {
    width: 100%;
    height: auto;
    background: #fff;
}

.login-con {
    width: 90%;
    margin: 0 5%;
}

.login-con p {
    border-bottom: 2px solid #b8b8b8;

    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
}

.login-icon {
    font-size: 0.45rem;
    color: #666867;
    float: left;
    line-height: 1rem;
    margin-left: 0.2rem;
}

.login-btn-info {
    width: 90%;
    background: #f1c131;
    line-height: 0.9rem;
    height: 0.9rem;
    font-size: 0.36rem;
    text-align: center;
    color: #000;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin: 1rem 5% 0.3rem 5%;
    border: none;
}

.login-input {
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.32rem;
    color: #b8b8b8;
    margin-top: 0.25rem;
    float: left;
    margin-left: 0.3rem;
}

.login-register {
    width: 80%;
    margin: 0 10%;
    line-height: 0.6rem;
    height: 0.6rem;
    font-size: 0.3rem;
    text-align: center;
    color: #597be7;
    border: none;
}

.letter-spa {
    letter-spacing: 5px;
}

.lettr-ma {
    text-indent: 5px;
}

.login-background {
    width: 100%;
    height: 4.5rem;
    background: #fff;
}

.login-background img {
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    margin: 1rem auto auto 28%;
}
.logincha {
    color: #000;
    font-size: 0.45rem;
    float: left;
    margin-left: 0.2rem;
    font-weight: bold;
}
/*loginend*/

#device {
    background-image: url(../img/direction.png);
    background-size: 100% 100%;
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    top: 1rem;
    left: 42%;
    z-index: 8;
}

/*陀螺仪*/
.index{
    width: 100%;
    height: auto;
    background: #fff;
    position: relative;
    z-index: 33;
}
.index-timer{
    position: absolute;
    right: 0.3rem;
    top: 0.4rem;
    width: 1.4rem;
    height: 0.5rem;
    box-sizing: border-box;
    -moz-border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
    border-radius: 0.08rem;
    background: url("../img/huibackground.png") repeat center;
}
.index-timer span{
    width: 0.3rem;
    padding-left: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    float: left;
    font-size: 0.28rem;
    text-align: center;
    display: block;
    color: #000;
}
.index-timer p{
    width: 0.9rem;
    height: 0.5rem;
    line-height: 0.5rem;
    float: left;
    font-size: 0.28rem;
    text-align: center;
    color: #000;
}
.index-logo{
    width: 100%;
    height: auto;
    background: #fff;
    padding-top: 38%;
    margin-bottom: 0.25rem;
}
.index-logo img{
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    margin: 0 auto auto 28%;
}
.index-lo{
    width: 100%;
    height: auto;
    background: #fff;
}
.index-lo img{
    width: 3.4rem;
    height: 1.8rem;
    border: none;
    margin: 0rem auto auto 28%;
}
.index-tm{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 33;
    bottom: 0;
    left: 0;
}
.index-tm img{
    width: 100%;
    height: 1.4rem;
    border: none;
}
/*indexend*/
/*通过选择器修改placeholder的样式*/
input::placeholder{
    font-size:0.24rem;
    color: #cecece;
    text-align: center;
    line-height: 0.4rem;
}
/*分享*/
#shareit {
    -webkit-user-select: none;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    text-align: center;
    top: 0;
    left: 0;
    z-index: 105;
}

.arrow {
    position: absolute;
    right: 10%;
    top: 5%;
    width:4.5rem;
    height:6.5rem;
}

#follow p{
    width:60%;
    line-height:0.8rem;
    font-size:0.38rem;
    text-align:center;
    margin:85% 20% auto 20%;
    color:#fff;
}
#follow p img{
    background: #fff;
    width: 1.5rem;
    height: 0.5rem;
    line-height:0.8rem;
    margin-left: 0.2rem;
}
/*.zuo{*/
    /*position: relative;*/
    /*left: 0rem;*/
    /*top: 0.1rem;*/
    /*z-index: 888;*/
/*}*/
/*pad-pro横屏*/
@media only screen and (min-width: 1366px) {

}

/*pad横屏*/
@media only screen and (min-width: 1024px) {

}

/*pad竖屏*/
@media only screen and (min-width: 768px) {

}