@charset "utf-8";
/*字体文件*/
@font-face {
    font-family: 'iconfont';  /* project id 563951 */
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-jianhao:before { content: "\e667"; }

.icon-jiahao:before { content: "\e668"; }

.icon-yduidingwei:before { content: "\e67b"; }

.icon-paixujiantoushang:before { content: "\e74c"; }

.icon-new3:before { content: "\e761"; }

.icon-mima:before { content: "\e622"; }

.icon-phone6dianhua:before { content: "\e679"; }

.icon-location3dingwei3:before { content: "\e6b6"; }

.icon-guo:before { content: "\e649"; }

.icon-zuojiantou:before { content: "\e64b"; }

.icon-shoucang1:before { content: "\e63c"; }

.icon-iconfontzhizuobiaozhun25:before { content: "\e618"; }

.icon-wo:before { content: "\e663"; }

.icon-shuilongtouhuasaanzhuang:before { content: "\e612"; }

.icon-duanxin:before { content: "\e64d"; }

.icon-fangdajing:before { content: "\e627"; }

.icon-liaotian:before { content: "\e60e"; }

.icon-xiala:before { content: "\e656"; }

.icon-chacha:before { content: "\e60f"; }

.icon-shoucang:before { content: "\e63b"; }

.icon-yuyueguanli:before { content: "\e610"; }

.icon-caidan:before { content: "\e691"; }

.icon-shouji-tianchong:before { content: "\e643"; }

.icon-fenxiang:before { content: "\e655"; }

.icon-shafa:before { content: "\e67d"; }

.icon-ditu:before { content: "\e859"; }

.icon-zhinengchuang-f:before { content: "\e6a8"; }

html,
body {
    background: #fff;
    /*font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;*/
    /* 第一个是第三方字体 */
    font-family: Helvetica,sans-self;
    font-style: normal;
    -webkit-user-select: none;
    /* 禁止页面文字选择 */
}
/*轮播图收藏分享*/
.wrapper{
    position: relative;
    z-index: 11;
    border: none;
}
.top-inform{
    width: 100%;
    position: absolute;
    z-index: 12;
    top:0.2rem;
}
.zuojiantou{
    color: #fff;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.2rem;
}
.dingwei{
    color: #fff;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.05rem;
}
.shoucang{
    color: #fff;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.05rem;
}
.shoucang1{
    color: red;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.05rem;
}
.fenxiang{
    color: #fff;
    font-size: 0.5rem;
    float: right;
    margin-right: 0.2rem;
    margin-top: 0.05rem;
}
.bottom-inform{
    width: auto;
    position: absolute;
    z-index: 12;
    bottom:0;
    right: 0;
    height: auto;
    padding: 0.15rem 0.3rem;
    font-size: 0.45rem;
    color: red;
    background: url("../img/background.png") repeat center;
    -webkit-border-top-left-radius: 0.2rem;
    -moz-border-top-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}
/*轮播图收藏分享end*/
.detail-main{
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 11;
}
.detail-main-title{
    width: 98%;
    background: #fff;
    margin: 0.1rem 1% 0 1%;
    padding-bottom: 0.2rem;
    border-bottom: 1px #cecece solid;
}
.detail-main-title-left{
    float: left;
    width: 65%;
}
.detail-main-title-left dl dt{
    width: 100%;
    height: 0.65rem;
    line-height: 0.65rem;
    color: #000;
    font-size: 0.32rem;
    overflow: hidden;
    text-indent: 0.2rem;
}
.detail-xianzhi{
    height: auto!important;
    overflow: auto!important;
    font-size: 0.28rem!important;
    padding-left: 0.2rem;
    text-indent: -0rem!important;
}
.shafa{
    color: #000;
    font-size: 0.33rem;
    float: left;

}
.chuang{
    color: #000;
    font-size: 0.5rem;
    float: left;
    margin-left: 0.1rem;
}
.huasa{
    color: #000;
    font-size: 0.4rem;
    float: left;
    margin-left: 0.1rem;
}
.guo{
    color: #000;
    font-size: 0.4rem;
    float: left;
    margin-left: 0.1rem;
}
.detail-main-title-left dl dt span{
    float: left;
    font-size: 0.25rem;
    color: #000;
    display: block;
    text-indent: 0.05rem;
}
.detail-main-title-right{
    float: left;
    width: 35%;
}
.detail-main-title-right img{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0 0 18%;
    border: 5px #dadada solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.detail-main-title-right-p{
    width: 64%;
    margin: 0 18%;
    height: auto;
    float: left;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    margin-top: 0.1rem;
}

.detail-main-title-right-p span{
    font-size: 0.25rem;
    line-height: 0.5rem;
    letter-spacing: 0.1rem;
}
.phone{
    font-size: 0.5rem;
    margin-left: 0.15rem;
    margin-right: 0.05rem;
    float: left;
}
.content-main{
    width: 98%;
    margin: 0 1% 1.3rem 1%;
}
.content-main-tap{
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.2rem;
    margin-left: 0.04rem;
}
.content-main-tap ul li{
    float: left;
    width: 33%;
    text-align: center;
    border: 1px #cecece solid;
    color: #000;
    font-size: 0.25rem;
    line-height: 0.6rem;
    box-sizing: border-box;
}
.content-main-tap ul li:nth-of-type(3){
    border-left: none;
    -webkit-border-radius: 0 0.1rem 0.1rem 0;
    -moz-border-radius: 0 0.1rem 0.1rem 0;
    border-radius: 0 0.1rem 0.1rem 0;
}
.content-main-tap ul li:nth-of-type(2){
    border-left: none;
}
.content-main-tap ul li:nth-of-type(1){
    -webkit-border-radius: 0.1rem 0 0 0.1rem;
    -moz-border-radius: 0.1rem 0 0 0.1rem;
    border-radius: 0.1rem 0 0 0.1rem;
}
.tab-main{
    width:98%;
    margin: 0 1%;
}
.tab-main li{
    display: none;
    width: 100%;
    padding: 0.2rem 0;
}
.tab-main li.show {display: block;}
.tab-main li dl dt{
    width: 96%;
    padding: 0.1rem 2%;
}
.tab-main li dl dt span{
    display: block;
    float: left;
    width: 20%;
    font-size: 0.3rem;
    color: #a1a1a1;
    padding-top: 0.1rem;
}
.tab-main li dl dt p{
    float: left;
    width: 78%;
    font-size: 0.3rem;
    color: #000;
    padding-left: 2%;
    line-height: 0.35rem;
}
.yuyue{
    font-size: 0.4rem;
    margin-left: 0rem;
    margin-right: 0.08rem;
    float: left;
}
.detail-tab-main{
    box-sizing: border-box;
    width: auto!important;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    padding: 0.05rem 0;
    padding-right: 2%;
    margin-left: 2%;
}
.yuyue-phone{
    float: left;
    font-size: 0.25rem;
    line-height: 0.4rem;
}
.tab-main-pic-main{
    width: 100%;
    height: 3rem;
    border-bottom: 1px #cecece solid;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    position: relative;
    z-index: 11;
}
.tab-main-pic{
    width: 100%;
    height: 3rem;
}

.bottom-inform-pic {
    width: auto;
    position: absolute;
    z-index: 12;
    bottom: 0.2rem;
    right: 0;
    height: auto;
    padding: 0.15rem 0.3rem;
    font-size: 0.45rem;
    color: red;
    background: url(../img/background.png) repeat center;
    -webkit-border-top-left-radius: 0.2rem;
    -moz-border-top-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}
.bottom-inform-img{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 12;
    left: 0.4rem;
    top:0.3rem;
}
.bottom-inform-img img {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px #dadada solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.tab-main-pic img{
    width: 100%;
    height: 3rem;
    border: none;
}
.bottom-inform-i{
    width: 52%;
    height: 0.65rem;
    line-height: 0.65rem;
    color: #000;
    font-size: 0.32rem;
    overflow: hidden;
    text-indent: 0.2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background: url(../img/background.png) repeat center;
    position: absolute;
    z-index: 12;
    left: 0.1rem;
    bottom:0.3rem;
}
.bottom-inform-blue{
    width: auto;
    padding: 0 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.32rem;
    overflow: hidden;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    background: url(../img/blue.png) repeat center;
    position: absolute;
    z-index: 12;
    left: 0.1rem;
    top:0.1rem;
}
.bottom-inform-red{
    width: auto;
    padding: 0 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.32rem;
    overflow: hidden;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    background: url(../img/red.png) repeat center;
    position: absolute;
    z-index: 12;
    left: 0.1rem;
    top:0.1rem;
}
.bottom-inform-yellow{
    width: auto;
    padding: 0 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.32rem;
    overflow: hidden;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    background: url(../img/yellow.png) repeat center;
    position: absolute;
    z-index: 12;
    left: 0.1rem;
    top:0.1rem;
}
.bottom-inform-green{
    width: auto;
    padding: 0 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.32rem;
    overflow: hidden;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    background: url(../img/green.png) repeat center;
    position: absolute;
    z-index: 12;
    left: 0.1rem;
    top:0.1rem;
}
.bottom-inform-i span {
    float: left;
    font-size: 0.25rem;
    color: #000;
    display: block;
    text-indent: 0.05rem;
}
.bottom-inform-watermark-i{
    width: 100%;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: 3rem;
    background: url(../img/40background.png) repeat center;
}
.bottom-inform-watermark-i img{
    width: 4rem;
    height: 3rem;
    border: none;
    float: right;
}
.bottom-phone{
    width: 99%;
    bottom: 0;
    position: fixed;
    left: 1%;
    z-index: 12;
    background: #fff;
    padding-bottom: 0.1rem;
}
.bottom-phone li{
    width: 49%;
    float: left;
    margin-right: 1%;
    /*background: #4f7cef;*/
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.bottom-phone li:nth-last-of-type(1){
    margin-right: 0;
}
.liaotian{
    font-size: 0.5rem;
    line-height: 0.9rem;
    margin-left: 37%;
}
.phone6{
    font-size: 0.5rem;
    line-height: 0.9rem;
    margin-left: 40%;
}
/*detail end*/

/*search start*/
.search-nav{
    width: 100%;
    height: 1rem;
}
.caidan{
    color: #fff;
    font-size: 0.8rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
.ditu{
    color: #fff;
    font-size: 0.7rem;
    float: left;
    margin-left: 31%;
    margin-top: 0.15rem;
}
.search-nav-list{
    color: #fff;
    font-size: 0.38rem;
    float: right;
    margin-right: 0.25rem;
    line-height: 1rem;
}
.search-content{
    position: relative;
    z-index: 11;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
}
.caidan-line{
    position: fixed;
    left: -60%;
    width: 60%;
    background: #fff;
    height: auto;
    top:-1rem;
    z-index: 12;
    overflow-y: auto;
}
.showleftnav {
    transform: translateX(100%);
    -ms-transform:translateX(100%); 	/* IE 9 */
    -moz-transform:translateX(100%); 	/* Firefox */
    -webkit-transform:translateX(100%); /* Safari 和 Chrome */
    -o-transform:translateX(100%);
    transition: transform 1s;
    -ms-transition: -ms-transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
}
.showleftnav-r {
    transform: translateX(-100%);
    -ms-transform:translateX(-100%); 	/* IE 9 */
    -moz-transform:translateX(-100%); 	/* Firefox */
    -webkit-transform:translateX(-100%); /* Safari 和 Chrome */
    -o-transform:translateX(-100%);
    transition: transform 1.3s;
    -ms-transition: -ms-transform 1.3s;
    -moz-tr……ansition: -moz-transform 1.3s;
    -webkit-transition: -webkit-transform 1.3s;
    -o-transition: -o-transform 1.3s;
}
.caidan-line-1{
    width: 100%;
    border-bottom: 1px #cecece solid;
    height: auto;
}
.caidan-line-1 dl{
    padding-top: 1rem;
}
.caidan-line-1 dl dt:first-of-type{
    height: 1rem;
}
.caidan-line-1 dl dt{
    width: 100%;
    height: 0.9rem;
    color: #000;
    text-align: center;
}
.caidan-line-1 dl dt img{
    width: 0.56rem;
    height: 0.8rem;
    border: none;
    margin: 0.15rem auto;
}
.caidan-line-1 dl dt p{
    width: 95%;
    margin: 0 2.5%;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.9rem;
    border-bottom: 1px #cecece solid;
}
.bordertop{
    border-top: 1px #cecece solid;
}
.border-none{
    border-bottom: none!important;
}
.cha{
    color: #000;
    font-size: 0.5rem;
    position: absolute;
    right: 0.1rem;
    top: 1.05rem;
}
.caidan-line-2{
    width: 100%;
    border-bottom: 1px #cecece solid;
    height: auto;
}
.caidan-line-2 dl dt{
    width: 95%;
    margin-left: 5%;
    height: 0.8rem;
    border-bottom: 1px #cecece solid;
    cursor: pointer;
}
.caidan-line-2 dl dt p{
    width: 50%;
    line-height: 0.8rem;
    font-size: 0.3rem;
    color: #000;
    float: left;
}
.caidan-line-2 dl dt span{
    width: 45%;
    line-height: 0.8rem;
    font-size: 0.3rem;
    color: #3d3d3d;
    float: right;
    display: block;
    text-align: right;
    padding-right: 0.15rem;
}
.caidan-line-3{
    width: 100%;
    height: auto;
    line-height: 0.9rem;
    border-bottom: 1px #cecece solid;
    text-align: center;
    color: #000;
    font-size: 0.32rem;
}
.area{
    position: fixed;
    bottom: -42%;
    width: 100%;
    background: #fff;
    height: 42%;
    z-index: 15;
}
.masking{
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: url("../img/huibackground.png") repeat center;
    position: fixed;
    left: 0;
    z-index: 14;
}
.masking1{
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: url("../img/huibackground.png") repeat center;
    position: fixed;
    left: 0;
    z-index: 11;
}
.dater{
    width: 80%;
    margin: 0 10%;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}
.area-title{
    width: 80%;
    margin: 0 10%;
    height: 0.7rem;
    color: #4f7cef;
    font-size: 0.32rem;
    line-height: 0.7rem;
    text-align: center;
    background: #e7eeff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}
.area p{
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    color: #4f7cef;
    font-size: 0.35rem;
    text-align: center;
    margin: 0.3rem auto 0.2rem auto;
}
.chose{
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.6rem 18%;
}
.chose-input{
    border: 1px #cecece solid;
    height: 0.9rem;
    width: 30%;
    float: left;
}
.chose-input-ful{
    width: 20%;
    float: left;
    color: #000;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.9rem;
}
.chose-input span{
    width: 25%;
    color: #333;
    font-size: 0.3rem;
    float: left;
    display: block;
    line-height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}
.chose-input-num ,.chose-input-num-last{
    width: 65%;
    border: none;
    float: left;
    margin: 0.2rem auto;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #000;
    font-size: 0.32rem;
    text-indent: 0.2rem;
}
/*area end*/
.louceng-area{
    position: fixed;
    bottom: -52%;
    width: 100%;
    background: #fff;
    height: 52%;
    z-index: 15;
}

.louceng-dater{
    width: 80%;
    margin: 0 10%;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}
.louceng-area-title{
    width: 80%;
    margin: 0 10%;
    height: 0.7rem;
    color: #4f7cef;
    font-size: 0.32rem;
    line-height: 0.7rem;
    text-align: center;
    background: #e7eeff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}
.louceng-area p{
    width: 80%;
    height: 0.9rem;
    line-height: 0.9rem;
    color: #4f7cef;
    font-size: 0.35rem;
    text-align: center;
    margin: 0.3rem auto 0.2rem auto;
}
.louceng-chose{
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.2rem 18%;
}
.louceng-jian{
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.2rem 18%;
}
.louceng-jian ul li{
    float: left;
    width: 50%;
}
.jian-lou{
    color: #999;
    font-size: 0.5rem;
    margin-left: 20%;
}
.louceng-jia{
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.5rem 18%;
}

.louceng-jia ul li{
    float: left;
    width: 50%;
}
.louceng-chose-input{
    border: 1px #cecece solid;
    height: 0.9rem;
    width: 30%;
    float: left;
}
.louceng-chose-input-ful{
    width: 20%;
    float: left;
    color: #000;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.9rem;
}
.louceng-chose-input span{
    width: 25%;
    color: #333;
    font-size: 0.3rem;
    float: left;
    display: block;
    line-height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}
.louceng-chose-input-num ,.louceng-chose-input-num-last{
    width: 65%;
    border: none;
    float: left;
    margin: 0.2rem auto;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #000;
    font-size: 0.32rem;
    text-indent: 0.2rem;
}
/*louceng end*/
.price{
    position: fixed;
    bottom: -42%;
    width: 100%;
    background: #fff;
    height: 42%;
    z-index: 15;
}
.price-dater{
    width: 80%;
    margin: 0 10%;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}
.price-title{
    width: 80%;
    margin: 0 10%;
    height: 0.7rem;
    color: #4f7cef;
    font-size: 0.32rem;
    line-height: 0.7rem;
    text-align: center;
    background: #e7eeff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}
.price p{
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    color: #4f7cef;
    font-size: 0.35rem;
    text-align: center;
    margin: 0.3rem auto 0.2rem auto;
}
.price-chose{
    width: 80%;
    height: auto;
    margin: 0.2rem auto 0.6rem 15%;
}
.price-chose-input{
    border: 1px #cecece solid;
    height: 0.9rem;
    width: 36%;
    float: left;
}
.price-chose-input-ful{
    width: 15%;
    float: left;
    color: #000;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.9rem;
}
.price-chose-input span{
    width: 34%;
    color: #333;
    font-size: 0.3rem;
    float: left;
    display: block;
    line-height: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
}
.price-chose-input-num ,.price-chose-input-num-last{
    width: 60%;
    border: none;
    float: left;
    margin: 0.2rem auto;
    height: 0.5rem;
    line-height: 0.5rem;
    color: #000;
    font-size: 0.32rem;
    text-indent: 0.2rem;
}
/*price end*/
/*toward start*/

.toward-dater{
    width: 80%;
    margin: 0 10%!important;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}

/*toward end*/
/*room start*/

.room{
    position: fixed;
    bottom: -52%;
    width: 100%;
    background: #fff;
    height: 52%;
    z-index: 15;
}
.room-dater{
    width: 80%;
    margin: 0 10%!important;
    height: 1rem;
    color: #000;
    font-size: 0.35rem;
    line-height: 1rem;
    text-align: center;
    border-top: 1px #cecece solid;
}
.room-title{
    width: 80%;
    margin: 0 10%;
    height: 0.7rem;
    color: #4f7cef;
    font-size: 0.32rem;
    line-height: 0.7rem;
    text-align: center;
    background: #e7eeff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
}
.room-chose{
    width: 80%;
    height: 4.2rem;
    margin: 0 auto 0.1rem auto;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.room-chose dl dt{
    width: 100%;
    height: 0.8rem;
    margin: 0.8rem auto 0 auto;
}
.ro-tingd{
    width: 14%;
    float: left;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #000;
    font-size: 0.32rem;
    text-align: center;

}
.room-chose dl dt ul li{
    float: left;
    width: 13%;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #000;
    font-size: 0.32rem;
    text-align: center;
    border: 1px #cecece solid;
    border-right: none;
}
.room-chose dl dt ul li:last-of-type{
    border-right: 1px #cecece solid;
}

.shafad{
    color: #000;
    font-size: 0.5rem;
}
.chuangd{
    color: #000;
    font-size: 0.7rem;
}
.room-chose-blue{
    background: #4f7cef;
    color: #fff!important;
    border-color: #4f7cef!important;
}
/*room end*/
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
.showleftnav-ymf {
    transform: translateY(100%);
    -ms-transform:translateY(100%); 	/* IE 9 */
    -moz-transform:translateY(100%); 	/* Firefox */
    -webkit-transform:translateY(100%); /* Safari 和 Chrome */
    -o-transform:translateY(100%);
    transition: transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -o-transition: -o-transform 0.4s;
}
.showleftnav-yf {
    transform: translateY(100%);
    -ms-transform:translateY(100%); 	/* IE 9 */
    -moz-transform:translateY(100%); 	/* Firefox */
    -webkit-transform:translateY(100%); /* Safari 和 Chrome */
    -o-transform:translateY(100%);
    transition: transform 0s;
    -ms-transition: -ms-transform 0s;
    -moz-transition: -moz-transform 0s;
    -webkit-transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
}
.showleftnav-yrf {
    transform: translateY(-100%);
    -ms-transform:translateY(-100%); 	/* IE 9 */
    -moz-transform:translateY(-100%); 	/* Firefox */
    -webkit-transform:translateY(-100%); /* Safari 和 Chrome */
    -o-transform:translateY(-100%);
    transition: transform 0s;
    -ms-transition: -ms-transform 0s;
    -moz-transition: -moz-transform 0s;
    -webkit-transition: -webkit-transform 0s;
    -o-transition: -o-transform 0s;
}
.showleftnav-y {
    transform: translateY(100%);
    -ms-transform:translateY(100%); 	/* IE 9 */
    -moz-transform:translateY(100%); 	/* Firefox */
    -webkit-transform:translateY(100%); /* Safari 和 Chrome */
    -o-transform:translateY(100%);
    transition: transform 0.8s;
    -ms-transition: -ms-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -o-transition: -o-transform 0.8s;
}
.showleftnav-yr {
    transform: translateY(-100%);
    -ms-transform:translateY(-100%); 	/* IE 9 */
    -moz-transform:translateY(-100%); 	/* Firefox */
    -webkit-transform:translateY(-100%); /* Safari 和 Chrome */
    -o-transform:translateY(-100%);
    transition: transform 0.8s;
    -ms-transition: -ms-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -o-transition: -o-transform 0.8s;
}
/*search end*/
/*index start*/
.index-location-search{

    width: 5rem;
    height: 1rem;
    float: left;
    margin-left: 0.2rem;
}
.index-location-search img{
    width: 0.45rem;
    height: 0.7rem;
    margin-top: 0.15rem;
    float: left;
    margin-left: 1rem;
}
.location3{
    color: #fff;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.75rem;
    margin-top: 0.2rem;
}
.fangdajing{
    color: #fff;
    font-size: 0.6rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.2rem;
}
.index-search{
    margin-top: 0.2rem;
    background: #fff;
    width: 90%;
    height: 0.8rem;

    margin-left: 5%;
    margin-bottom: 0.2rem;
    border: 1px #cecece solid;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
.index-searchtext{
    width: 82%;
    height: 0.6rem;
    margin: 0.1rem auto 0.1rem 0.3rem;
    line-height: 0.6rem;
    float: left;
    border: none;
    color: #cecece;
    text-indent: 0.2rem;
    font: normal 0.35rem Arial;
}
.fangdajingt{
    color: #cecece;
    font-size: 0.6rem;
    float: left;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}
.search-chose{
    width: 100%;
    height: 1rem;
    border: 1px #cecece solid;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}
.search-chose ul{
    width: 100%;
    height: 0.6rem;
    margin: 0.2rem auto;
}
.search-chose ul li{
    width: 33%;
    float: left;
    height: 0.6rem;

    border-right: 1px #cecece solid;
}

.search-chose ul li:last-of-type{
    border-right: none;
}
.search-chose ul li p{
    float: left;
    font-size: 0.35rem;
    line-height: 0.6rem;
    color: #000;
    margin-left: 20%;
}
.search-chose-p{
    float: left;
    width: 0.3rem;
    height: 0.6rem;
    margin-left: 0.05rem;
}
.shang{
    color: #cecece;
    font-size: 0.23rem;

    margin-top: 0.05rem;
    float: left;
}
.xia{
    color: #cecece;
    font-size: 0.23rem;

    margin-top: 0.05rem;
    float: left;
}
.search-content-list{
    width: 98%;
    margin: 0.1rem 1% auto 1%;
}
/*collectionstart*/
.search-love{
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    z-index: 12;
}
.loves{
    color: red;
    font-size: 0.65rem;
}
/*collectionend*/
.map-search{
    width: 100%;
    height: 1rem;
    border-top: 1px #cecece solid;
    box-sizing: border-box;
}
.map-search p{
    float: left;
    font-size: 0.4rem;
    color: #000;
    width: 40%;
    height: 1rem;
    text-indent: 0.15rem;
    line-height: 1rem;
    overflow: hidden;
}
.map-search span{
    float: left;
    display: block;
    font-size: 0.32rem;
    color: #cecece;
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    text-indent: 0.15rem;
}
.map-search-close{
    float: left;
    font-size: 0.32rem;
    color: #cecece;
    width: 10%;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    text-align: center;
}

/*index-mapend*/
.index-map{
    width: 100%;
    height: 100%;
}
.map-content{
    position: fixed;
    bottom: -73%;
    width: 100%;
    background: #fff;
    height: 73%;
    z-index: 15;
}
.map-cont{
    height: 7rem;
    overflow-y: auto;
}
/*broker start*/
.search-broker-chose{
    width: 100%;
    height: 1rem;
    border: 1px #cecece solid;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
}
.search-broker-chose ul{
    width: 100%;
    height: 0.6rem;
    margin: 0.2rem auto;
}
.search-broker-chose ul li{
    width: 49%;
    float: left;
    height: 0.6rem;

    border-right: 1px #cecece solid;
}

.search-broker-chose ul li:last-of-type{
    border-right: none;
}
.search-broker-chose ul li p{

    font-size: 0.35rem;
    line-height: 0.6rem;
    color: #000;
    text-align: center;
}
.search-broker-chose-content{
    width: 98%;
    margin: 0 1%;
}
.search-broker-chose-content dl dt{
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px #cecece solid;
    box-sizing: border-box;
}
.search-broker-chose-content dl dt img{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px #dadada solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0.5rem auto auto 0.2rem;
}
.broker-chose-content-title{
    float: left;
    width: 50%;
    height: 1.9rem;
    padding-top: 0.6rem;
    margin-left: 0.2rem;
}
.broker-chose-content-title p{
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #3d3d3d;
    font-size: 0.35rem;
    overflow: hidden;
}
.broker-chose-content-title span{
    display: block;
    margin-top: 0.18rem;
    overflow: hidden;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #3d3d3d;
    font-size: 0.32rem;
}
.broker-chose-button{
    width: 1.3rem;
    height: 0.6rem;
    border: 1px #4f7cef solid;
    float: left;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.35rem;
    color: #4f7cef;
    margin-top: 0.9rem;
    margin-left: 0.2rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
}
/*颜色控制*/
.color-font-blue{
    color: #4f7cef!important;
}
.color-font-yellow{
    color: #f9bb06!important;
}
.color-font-red{
    color: #ea4235!important;
}
.color-font-green{
    color: #34a853!important;
}
.color-tap-blue{
    border-color: #4f7cef!important;
    color: #fff!important;
    background: #4f7cef!important;
}
.color-tap-yellow{
    border-color: #f9bb06!important;
    color: #fff!important;
    background: #f9bb06!important;
}
.color-tap-red{
    border-color: #ea4235!important;
    color: #fff!important;
    background: #ea4235!important;
}
.color-tap-green{
    border-color: #34a853!important;
    color: #fff!important;
    background: #34a853!important;
}
.color-control-blue{
    color: #4f7cef!important;
    border:1px #4f7cef solid!important;
}
.color-control-yellow{
    color: #f9bb06!important;
    border:1px #f9bb06 solid!important;
}
.color-control-red{
    color: #ea4235!important;
    border:1px #ea4235 solid!important;
}
.color-control-green{
    color: #34a853!important;
    border:1px #34a853 solid!important;
}
.search-nav-blue{
    background: #4f7cef!important;
}
.search-nav-yellow{
    background: #f9bb06!important;
}
.search-nav-red{
    background: #ea4235!important;
}
.search-nav-green{
    background: #34a853!important;
}
/*end*/
/*index end*/
.register-nav{
    width: 100%;
    height: 1rem;
}
.regist-zuo{
    color: #fff;
    font-size: 0.65rem;
    float: left;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
}
.register-content{
    z-index: 11;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
}
.register-nav-list {
    color: #fff;
    font-size: 0.38rem;
    float: left;
    margin-left: 34%;
    line-height: 1rem;
}
.register-line{
    width: 100%;
    height: auto;
    background: #fff;
}
.register-con{
    width: 90%;
    margin: 0 5%;
}
.register-con p{
    border-bottom: 2px solid #b8b8b8;

    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
}
.register-input{
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.35rem;
    color: #b8b8b8;
    margin-top: 0.25rem;
    float: left;
    margin-left: 0.3rem;
}
.register-input-yanzheng{
    width: 50%!important;
}
.register-icon{
    font-size: 0.45rem;
    color: #666867;
    float: left;
    line-height: 1rem;
    margin-left: 0.2rem;
}
.register-btn-info{
    width: 80%;
    background: #4f7cef;
    line-height: 0.9rem;
    height: 0.9rem;
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin: 1.5rem 10% 0 10%;
    border: none;
}
.get-code{
    display: block;
    width: 30%;
    float: left;
    background: #4f7cef;
    line-height: 0.8rem;
    height: 0.8rem;
    font-size: 0.3rem;
    text-align: center;
    color: #fff;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin-top: 0.1rem;
}
/*registerend*/
.login-content{
    z-index: 11;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
}
.login-line{
    width: 100%;
    height: auto;
    background: #fff;
}
.login-con{
    width: 90%;
    margin: 0 5%;
}
.login-con p{
    border-bottom: 2px solid #b8b8b8;

    padding-bottom: 0.05rem;
    margin-top: 0.2rem;
    height: 1rem;
}
.login-icon{
    font-size: 0.45rem;
    color: #666867;
    float: left;
    line-height: 1rem;
    margin-left: 0.2rem;
}
.login-btn-info{
    width: 80%;
    background: #4f7cef;
    line-height: 0.9rem;
    height: 0.9rem;
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
    -moz-border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    border-radius: 0.15rem;
    margin: 1rem 10% 0.3rem 10%;
    border: none;
}
.login-input{
    background: #fff;
    border: none;
    box-shadow: none;
    text-indent: 0.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    transition: all 0.3s ease 0s;
    display: block;
    width: 80%;
    font-size: 0.35rem;
    color: #b8b8b8;
    margin-top: 0.25rem;
    float: left;
    margin-left: 0.3rem;
}
.login-register{
    width: 80%;
    margin: 0 10%;
    line-height: 0.5rem;
    height: 0.5rem;
    font-size: 0.3rem;
    text-align: center;
    color: #4f7cef;
    border: none;
}
.login-background{
    width: 100%;
    height: 5.5rem;
    background: url("../img/loginbackground.png") no-repeat top center;
    background-size: 100% 5.5rem;
}
.login-background img{
    width: 2rem;
    height: 2rem;
    border: none;
    margin: 20% auto auto 38%;
}
/*loginend*/
/*pad-pro横屏*/
@media only screen and (min-width: 1366px) {

}

/*pad横屏*/
@media only screen and (min-width: 1024px) {

}

/*pad竖屏*/
@media only screen and (min-width: 768px) {

}