@charset "utf-8";
.table-main {
    width: 100%;
    height: auto;
}

.table-main-right {
    width: 70%;
    height: auto;
    float: left;
    overflow-y: hidden;
    overflow-x: scroll;
    /*解决ios上滑动不流畅*/
    -webkit-overflow-scrolling: touch;
}

.nav {
    /*width: 100%;*/
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #fff;
    /*纵向超出部分将会隐藏，即滚动条部分被挤出可视区域*/
    padding-bottom: 20px;
}

.table-main-left {
    width: 30%;
    height: auto;
    float: left;
}

.table-main-left ul li {
    width: 95%;
    height: auto;
    font-size: 0.26rem;
    color: #000;
    line-height: 0.8rem;
    text-indent: 0.2rem;
    margin: 0 2.5%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.table-main-left ul li:first-of-type {
    width: 100%;
    height: auto;
    font-size: 0.26rem;
    color: #7882d2;
    line-height: 0.8rem;
    text-indent: 0.2rem;
    border-bottom: 1px #7882d2 solid;
    box-sizing: border-box;
    margin: 0 auto;
}

.table-main-right ul li {
    width: 100px;
    height: auto;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.table-main-right ul li dl dt:first-of-type {
    color: #7882d2;
    border-bottom: 1px #7882d2 solid;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.table-main-right ul li dl dt {
    width: 95%;
    font-size: 0.26rem;
    color: #000;
    line-height: 0.8rem;
    margin: 0 2.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-main-right::-webkit-scrollbar {
    display: none;
}

.table-main-right::-webkit-scrollbar {
    width: 0px;
}